aiohttp==3.6.3
aiohttp-cors==0.7.0
aiohttp-devtools==0.13.1
async-timeout==3.0.1
attrs==20.2.0
chardet==3.0.4
click==7.1.2
devtools==0.6
idna==2.10
multidict==4.7.6
Pygments==2.7.1
typing-extensions==3.7.4.3
watchgod==0.6
yarl==1.5.1
websocket_client==1.15.0
# Mqtt
gmqtt>=0.6.7
